/*PC,スマホ用共通スタイル*/
body {
  font-family: 'Merriweather Sans', sans-serif,'Noto Sans JP', sans-serif;
}
/*=============
PC用のスタイル
=============*/
/*横幅設定*/
body {
  max-width: 1280px;
  min-width: 960px;
 
  
}
/* ヘッダー */
header{
  width: 100%;
  height: 584px;
  display: flex;
  justify-content: space-between;
  
}
#header-logo {
  margin-left: 20px;
}

#nav-pc {
  margin: 0 0 0 auto;
  align-items: center;
  position:relative;
  
  
  
}
nav a{
  color: white;
  text-decoration: none;
  margin-left: 40px;
  

}
.header-btn {
  background-color: #0C4324;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  margin-left: 40px;
}

#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 350px;
  height: 584px;
  z-index: -3;
  
  
  
}
#main-message p {
  color:#1B9240;
  font-size: 30px;
  font-family:'Shippori Mincho', serif;
  writing-mode: vertical-rl;
  letter-spacing: 0.35em;
  margin: 0 auto;
  margin-top: 100px;

}
.dashed {
  background-image: linear-gradient(to bottom, #1B9240, 5px, transparent 4px);
  background-size: 1px 9px;
  background-position: right top;
  background-repeat: repeat-y;
}
.message-back1 {
  position: absolute;
  top: 30px;
  left: 115px;
  z-index: -2;
}
.message-back2 {
  position: absolute;
  top: 280px;
  left: 50px;
  z-index:-2;
}

.carousel-img {
  width: 1010px;
  height: 584px;
  position: absolute;
  top: 0;
  left: 350px;
  z-index: -1;

}
.carousel-back {
  width: 719px;
  height: 616px;
  position: absolute;
  top:-50px;
  left: 325px;
  z-index: -2;
}
/* News */
#news {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-content: center;

}
#news ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
}
#news li {
  margin-left: 20px;
  
}
#news a {
  text-decoration: none;
}
.newstitle-e {
  font-family: 'Merriweather Sans';
  font-size: 20px;
  color: #1B9240;
  font-weight: bold;
}
.newstitle-j {
  font-size: 16px;
  color:#1B9240;

}
/* Concept */
#concept {
  width: 100%;
  max-width: 1280px;
  height: 1900px;
  margin: 0;
  padding: 0;
  position: relative;
  
  
}
#concept p {
  color: black;
}
/* Concept Top */
.concept-top {
  width: 68%;
  height: 900px;
  padding-top: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color:#1B9240;
  font-family: 'Merriweather Sans';
  
}
.concept-explanation {
  width: 310px;
}

.concept-btn1 {
  background-color: white;
  border-radius: 4px;
  width: 130px;
  float: right;
}
.back-white {
  width: 530px;
  height: 134px;
  position: absolute;
  TOP: 201px;
  left: 125px;
  z-index: -1;
}
.bigicon {
  width: 400px;
  height: 300px;
  position: absolute;
  top:460px;
  right: 0;
  z-index: -1;
}



/* Concept Bottom */
.back-green {
  width: 100%;
  max-width: 1280px;
  height: 1000px;
  position: absolute;
  top: 850px;
  left: 0;
  z-index: -2;
}
.concept-bottom {
  width: 68%; 
 margin: 0 auto;

 
}
.course {
  
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.course-title {
  width: 300px;
  margin: 0 auto;
  color: #1B9240;
  text-align: center;
  
}
.concept-menu {
  color: #0C4324;
}
.menu-img {
  border-radius: 15px;
}
.concept-btn2 {
  background-color: white;
  border-radius: 4px;
  width: 180px;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 120px;
}

/* お客様の声 */
#customer-voice {
  width: 1280px; 
  position: relative;
  
}
#customer-voice h3{
 color: #1B9240;
}
.customer-img {
  width: 100%;
  height: 320px;
  

}
.customer-white {
  width: 515px;
  height: 119px;
  position: absolute;
  top: 202px;
  left: 380px;
}
.voice-title {
  width: 342px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 270px;
  left: 470px;
  
}
.voice {
  width: 80%;
  height: 670px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 150px;
}
.circle-voice {
  width: 256px; 
  height: 418px;
  text-align: center; 
  
}
.circle-voice h3 {
  margin-top: 40px;
}
.circle-voice p {
  font-size: 17px;
}
.customer {
  border-radius: 50%;
}
.voice-button {
  width: 160px;
 display: block;
 margin: 0 auto;
 background-color: white;
 margin-bottom: 50px;
 border-radius: 4px;
 padding: 4px;
}
/* お店の情報 */
#access {
  width: 1280px;
  height: 703px;
  background-color: #F0F5E1;
  position: relative;
}
#access div {
  display: flex;
  justify-content: space-around;
}
#access h3 {
  color: #1B9240;
  margin: 0 auto;
}
#access li {
  list-style: none;
  margin-bottom: 20px;
}
.access-title {
  position: absolute;
  top: 130px;
  left: 470px;
}
.access-information {
  width: 1026px;
  height: 482px;
  margin: 0 auto;
  margin-top: 50px;
}
#access ul {
  width: 459px;
  padding: 0;
}

#access iframe {
  width: 500px;
  height: 419px;
}
/* footer */
footer {
  width: 1280px;
  height: 140px;
  background-color: #F0F5E1;
}
.footer-top {
  width: 1280px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.footer-menu {
  width: 945px;
  font-size: 14px;
  display: flex;
  align-items: center;
  
   
}
.footer-logo {
  width: 240px;
  height: 32px;
}
.footer-bottom {
  width: 1280px;
  height: 40px;
  background-color: #1B9240;
}
.footer-menu a {
  color: black;
}
.footer-bottom p {
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
/*=============
 SP用のスタイル
=============*/
/* 画面幅が768px以下のとき */
@media screen and (max-width:768px) {
/* スマートフォン用のスタイルを指定する */

#menu-sp {
  width: 24px;
  height: 24px;
}
}